{:lib      io.github.hive-agi/hive-vim
 :minor    1
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/hive-vim"
 :src-dirs ["src" "resources" "vim"]
 :publish  :clojars}
